/*основной цвет текста #212121*/
/*вторичный цвет текста #757575 */
/* акцент #2196F3 */
/* цвет фона #ffffff */
/* вторичный цвет фона #F5F4FA */
/* цвет героя и футера #2F303A */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --second-title-text: #ffffff;
  --accent-color: #2196f3;
  --primary-fone-color: #ffffff;
  --second-fone-color: #f5f4fa;
  --header-text-color: #212121;
  --btn-color: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-fone-color);
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid teal;
}
/* -----------Header -------------*/
.logo {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-accent {
  color: var(--accent-color);
}
.header {
  outline: solid 1px tomato;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-link {
  color: var(--header-text-color);
}
.header-link:hover,
.header-link:focus,
.current {
  color: var(--accent-color);
}
.auth-nav {
  outline: solid 1px tomato;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav-mail {
  color: var(--primary-text-color);
}
.auth-nav-mail:hover,
.auth-nav-mail:focus {
  color: var(--accent-color);
}
.auth-nav-tel {
  color: var(--primary-text-color);
}
.auth-nav-tel:hover,
.auth-nav-tel:focus {
  color: var(--accent-color);
}
/* -----------Hero -------------*/
.section-hero {
  outline: solid 1px tomato;
  text-align: center;
  margin-bottom: 94px;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  background-color: violet;
  color: var(--second-title-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.btn-hero {
  display: inline-block;
  font-family: inherit;
  min-width: 200px;
  /* width: 200px; */
  height: 50px;
  border-radius: 4px;
  /* padding: 10px 32px; */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: var(--btn-color);
  background-color: var(--accent-color);
}

/* Main  */
.section-features {
  margin-bottom: 94px;
}
.features-title {
  margin-top: 0;
}
.features-after-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.section-about {
  margin-bottom: 94px;
}
.about-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.section-team {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-title-members {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
/* footer */
.footer-logo {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  background-color: blueviolet;
}
.addres-fiz {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-title-text);
  background-color: violet;
}
.addres-fiz:hover,
.addres-fiz:focus {
  color: var(--accent-color);
}
.footer-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: violet;
}
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}
.footer-tel {
  font-style: normal;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: violet;
}
/* ----------Страница Portfolio -------------*/
.button {
  /* color: inherit; */
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
}
.button:hover,
.buton:focus {
  color: var(--btn-color);
  background-color: var(--accent-color);
}
.gallery-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-text-color);
}
.gallery-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
